* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  height: 100%; 
  margin: 0;    
}

body {

    background: linear-gradient(black, #661836);
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;

}

.HeaderINICIO {

    padding-top: 350px;
}

.TITULO{

    text-align: center;
    size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}

.Nombre{

    text-align: center;
    size: 12px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.container {
      max-width: 800px;
      padding: 20px;
      text-align: center;
    }

.buttons {
      display: flex;
      gap: 20px;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 30px;
    }

button {
    padding: 15px 30px;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 200px;
}

#btn-mostrar {
    background: white;
    color: rgb(255, 0, 98);
}

#btn-simular {
    background: rgb(255, 0, 98);
    color: rgb(255, 255, 255);
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}


.grid-container {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 45px;
    
}

.card {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  padding: 30px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.card:hover {
    transform: translateY(-10px);
    background: rgba(255, 105, 180, 0.15);
    border-color: #ff69b4;
    box-shadow: 0 15px 35px rgba(255, 105, 180, 0.2);
}

.icon {
  font-size: 3.5rem;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 20px;
  color: #ff69b4;
}


.card p {
  font-size: 20px;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  color: #ccc;
}

.highlight {
  color: #ff69b4;
  font-weight: 600;
}